<div class="row">
  <h2>Marriage Permissions</h2>

<% @person.marriage_permissions.each do |m| %>
<div class="col-md-8">
On <em><%= m["MP_DATE"] %></em>, <%= @person.firstname %> (<em><%
if m["SHIP_OR_FREE"] == "free" %>
a free person
<% else %>
of the ship <%= shiplink(m["SHIP_OR_FREE"])
  %></em>
  <%end%>)
received permission
to marry <%= namelink(m["NAME2"]) %>(<em><%
if m["SHIP_OR_FREE"] == "free" %>
a free person
<% else %>
of the ship <%= shiplink(m["SHIP_OR_FREE"])
  %></em>
  <%end%>). 

</div>
<div class="col-md-4">
<A href="<%= d["PERMA_LINK"] %>">See record</A>.
</div>
<% end %>

</div>