<p id="notice"><%= notice %></p>

<h1 class="text-center personname"> <%= @person.name %> </h1>
<h2 class="text-center">
<%if @person.year_of_birth != "?" or @person.year_of_death != "?" %>
          (<%if @person.year_of_birth != "?" %>b. <%= @person.year_of_birth %><% end%><%if @person.year_of_death != "?" %><%if @person.year_of_birth != "?" %>, <%end%>d. <%= @person.year_of_death %><% end%>)</h2>
<% end %>
<% if @person.births %>
<%= render partial: "births" %>
<% end %>
<% if @person.arrivals %>
<%= render partial: "arrivals" %>
<% end %>

<% if @person.convicts %>
<%= render partial: "convicts" %>
<% end %>

<% if @person.marriages %>
<%= render partial: "marriages" %>
<% end %>

<% if @person.departures %>
<%= render partial: "departures" %>
<% end %>

<% if @person.ww1 %>
<%= render partial: "ww1" %>
<% end %>

<% if @person.deaths %>
<%= render partial: "deaths" %>
<% end %>

<% if @person.inquests %>
<%= render partial: "inquests" %>
<% end %>
<!--
<pre>
<%= JSON.pretty_generate(@person.as_json) %>
</pre>
-->

